---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <Header />

    <h1>Welcome to My Astro Site</h1>
    <p>This is my homepage.</p>

    <p>
      Check out my <a href="/blog">blog</a> or learn more 
      <a href="/about">about me</a>.
    </p>

    <Footer />
  </body>
</html>