---
import Social from './Social.astro';
---

<footer>
  <p>Connect with me:</p>
  <Social platform="GitHub" username="cjssmith30-sketch" url="https://github.com/cjssmith30-sketch" />
  <Social platform="LinkedIn" username="your-linkedin-name" url="https://www.linkedin.com/" />
</footer>